<!DOCTYPE html>
<html>
<head>
  <title>ENGINE_NAME</title>
  <%= stylesheet_link_tag    "ENGINE_NAME/application", :media => "all" %>
  <%= javascript_include_tag "ENGINE_NAME/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
